<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VUE JS</title>
    <script src="vue.min.js"></script>
  </head>
  <body>

    <div id="app">
      <p v-if="show">You can see me. </p>
      <p v-else>You also see me well.</p>
      <p>You always see me right ?</p>
      <button type="button" name="button" @click="show = !show">SWITCH</button>
      <br><br><hr><br>
      <ul>
        <li v-for="(fruit, index) in fruits"> {{ fruit }} ({{index}})</li>
      </ul>
      <button @click="addItems" type="button" >ADD ITEM</button>
      <hr>
      <ul>
        <li v-for="person in persons">
          <!-- <div class=""> {{person.name}} </div> -->
          <div v-for="(value, key, index) in person"> {{key}} ({{index}}) :  {{value}} </div>
        </li>
      </ul>
      <hr>
      <span v-for="number in 10">{{number}}</span>
    </div>

    <script type="text/javascript" src="app.js"></script>

  </body>
</html>
